/*
	styles.css
	LinguaInterface version 1.0
	Created by Stéphane Valès on 2023/01/20

	no description
	Copyright © 2022 Ingenuity i/o. All rights reserved.
*/

div.center-div {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

table {
	width: auto;
	margin-left: auto;
    margin-right: auto;
}

tr {
	height: 35px;
}

td {
	padding:0 15px;
}

input:invalid {
	border: red solid 2px;
}

